#form{
    height: 95vh;
    border: 2px dashed black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    #word-checked{
        visibility: hidden;
    }
}